@import '../../../../theme/colors.scss';

.root {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid setColor(blue, hot);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: setColor(green, very-light);

    &:focus {
        border: 1.5px solid setColor(green, dark);
        background-color: setColor(white, green);
    }
}

.errorRoot {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid setColor(red, alabama);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: setColor(green, very-light);
    &::placeholder {
        color: setColor(red, alabama);
    }
}